<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
     body
     {
         font-family: "Arial Unicode MS";
         color: blue;
         font-size: 48;
     }
 </style>
</head>
<body>
<h3 style="text-align: center; color: green">
    <span th:text="'Welcome to ' + ${to} + '!'"></span>
</h3>
<table>
    <tr>
        <td>
            <p><strong>декларатор:</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>சினிமா விகடன்செய்திகள் :</strong></p>
        </td>
    </tr>
</table>
</body>
</html>