<html lang="en">
<head>
    <title>HTML File</title>
    <style type="text/css">
      body{background-color: #F5F5F5;}
      @font-face {
  font-family: myFont;
  src: url("/home/iface/clients/finalitix/pdf-example/src/main/resources/font/cyrillic.ttf");
}
.fontclass{
  font-family: myFont;
  font-size:20px;
}
.styleclass{
  font-family: "Times New Roman", Times, serif;
  font-size:30px;
  font-weight: normal;
  color: 6600CC;
}
    </style>
    <link href="../css/style.css" rel="stylesheet" >
</head>
<body>
<h1>HTML to PDF Java Example</h1>
<p>Exception Propagation image <strong>декларатор:</strong></p>
<img src="../images/Exception Propagation.png" width="300" height="220">
<p style="color:#F80000; font-size:20px">This text is styled using Inline CSS</p>
<p class="fontclass">This text uses the styling from font face font</p>
<p class="styleclass">This text is styled using external CSS class</p>
</body>
</html>